<style>
    
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
</style>

<script>
    // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>


<section>
  <!--for demo wrap-->
   <img src="https://bestpracticemedicine.com/uploads/_rectangle/Social_All-Courses.jpg" alt="" width="100px" height="60px" style="margin-left: auto;margin-right:auto;display:block">


  <h1> <a class="btn btn-secondary" href="/employee">
    <i class="fa fa-plus"></i> Add New</a> 
    STUDENT DETAILS</h1>
    
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="5" border="1">
      <thead>
        <tr>
         <th>Full Name</th>
            <th>Qualification</th>
            <th>Father Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Age</th>
            <th>Courses</th>
            <th>Reference</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>delete</th>
        </tr>
      </thead>
      
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="5" border="1">
      <tbody>
         {{#each list}}
        <tr>
          <td>{{this.fullName}}</td>
            <td>{{this.qualification}}</td>
            <td>{{this.fathername}}</td>
            <td>{{this.email}}</td>
            <td>{{this.date}}</td>
            <td>{{this.age}}</td>
            <td>{{this.courses}}</td>
            <td>{{this.reference}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.address}}</td>

            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td> 
            
             {{/each}}
        </tr>
       
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="">POPULAR COURSES</a>
</div>